// Custom styles.

.main-inner {
    opacity: 0.9125;
}

body {
    background-image:url(https://acg.toubiec.cn/random);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
}
